.jobTitle {
  color: #22a39f;
  text-align: left;
  width: 23vw;
  float: left;
}

.experiences {
  width: 78vw;
  display: inline-block;
  height: fit-content;
}

.company {
  color: gray;
  font-size: 1em;
  display: inline;
}

.experience {
  color: #22a39f;
  margin-bottom: 3em;
  overflow: auto;
}

.work {
  width: 50vw;
  text-align: left;
  float: right;
}
.date {
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .experiences {
    display: block;
    width: 100%;
    text-align: center;
  }
  .jobTitle {
    color: #22a39f;
    text-align: center;
    width: 100vw;
  }

  .work {
    width: 80%;
    text-align: left;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
  }
}
