body {
  margin: 0;
  font-family: "Open Sans", "Ubuntu", sans-serif,
    "Helvetica Neue", "Droid Sans", "Arial", "Roboto", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Oxygen", "Cantarell", "Fira Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h5{
  font-weight: lighter;
}
h6{
  font-weight: lighter;
}
